<p id="notice"><%= notice %></p>

<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12 align-self-center">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Stores</h1>
      <div><%= link_to 'New Store', new_store_path %></div>
    </div>

    <ul id="store-list" class="list-group list-group-flush">
      <% @stores.each do |store| %>
        <li
          id="store-<%= store.id %>" 
          class="list-group-item d-flex justify-content-between align-items-center">
          
          <div id="store-<%= store.id %>">
            <%= store.name %>
            <br>
            <small class="text-muted py-1"><%= store.number %>, <%= store.street %>, <%= store.city %> <%= store.zip_code %>, <%= store.country %></small>
          </div>

          <div id="store-<%= store.id %>-actions">
            <div id="dropdown-<%= store.id %>" class="btn-group dropleft">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                  <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
              </button>
              <div class="dropdown-menu">
                <!-- Dropdown menu links -->
                <%= link_to 'Show', store, :class => "dropdown-item text-secondary" %>
                <%= link_to 'Edit', edit_store_path(store), :class => "dropdown-item text-primary" %>
                <%= link_to 'Remove', store, method: :delete, remote: true, :class => "dropdown-item text-danger" %>
              </div>
            </div>
          </div>
          
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- STORE MODAL -->
<div class="modal fade" id="storeModal" tabindex="-1" aria-labelledby="storeModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

    </div>
  </div>
</div>
