<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12 align-self-center">
    <div class="d-flex justify-content-between align-items-center py-2 mb-4 border-bottom">
        <%= link_to 'Back', products_path %>
    </div>
    
    <% if !notice.to_s.empty? %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <div class="d-flex justify-content-between align-items-center">
        <h1>Show Category</h1>
    </div>

    <div class="mt-2 p-4" style="background-color: #dedede40;">
      <small>Name:</small>
      <h4>
        <strong><%= @product.name %></strong>
      </h4>
      <div>
        <small>Color:</small> <strong> <%= @product.color %></strong>
      </div>
      <div>
        <small>Size:</small> <strong> <%= @product.size %></strong>
      </div>
      <div>
        <small>Price:</small> <strong> <%= @product.price %></strong>
      </div>
      <div>
        <small>Category:</small> <strong> <%= @product.category.name %></strong>
      </div>
      <div class="mt-3">
        <small>Created at <%= time_tag @product.created_at %></small>
      </div>
    </div>
    
  </div>
</div>
